body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
}

a {
  color: #00B7FF;
}
.commentPhoto {
	width: 50px;
	margin: 5px;
	border-radius: 1px;
    float: left;
}
.userName {
    font-size: 1em;
    color: #3b5998;
    padding-top: 10px;
    padding-left: 10px;
}
.userEmail {
    font-size: .5em;
    padding-left: 20px;
    color: black;
}
h1 {
clear: both;
margin-top: 100px;
text-align: center;
}
.talk {
padding: 20px;
border: 1px solid red;
margin: 20 auto 10 auto;
border-radius: 20px;
background-color: rgb(220,220,255);
}
#commentInput {
margin: 10px;
float: left;
}
#submitButton {
margin-left: 10px;
margin-top: 10px;
clear: both;
background-color: rgb(200,200,255);
}
#navBar {
background-color: #3b5998;
height: 80px;
width: 100%;
position: relative;
top: 0px;
}
#loginDrop-down {
    position: relative;
    height: 150px;
    background-color: #8b9dc3;
}
.comment {
    width: 80%;
    background-color: white;
    border: 1px solid #dfe3ee;
    height: auto;
    padding: 10px;
    font-size: 1.5em;
    margin: 5px auto;
}
.upperPart {
    width: 100%;
    padding: 5px;
}
.middlePart {
    margin: 30px 0px 30px 8px;
    clear: left;
}
.lowerPart {
    border-top: 1px solid #8b9dc3;
    border-bottom: 1px solid #8b9dc3;
    padding: 5px;
}




